$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary:#8c6d62;
$primary-dark: #5e4238;
$primary-light: #bd9b8f;
$on-primary:#ffffff;

$secondary:#ffc400;
$primary-dark: #c79400;
$primary-light: #fff64f;
$on-primary:#4e342e;

$error: #B00020;
$on-error: #ffffff;

$success: #99aa00;
$on-success: #ffffff;
